<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="js/header.js" type="text/javascript"></script>
    <script src="https://cdn.zoomcharts-cloud.com/1/latest/zoomcharts.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="main-page">
    <div id="container">
        <div id="main">
            <div id="top" class="block">
                <h1>Homepolice</h1>
                <canvas id="rank"></canvas>
            </div>
            <div id="graph" class="block">
                <div id="netchart"></div>
            </div>
            <br/>
            <a type="button" href="page.html">상세페이지</a>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
    <script></script>
</body>
</html>
